Repository angular/angular.js, pull requests merged in 2018-09, with the labels that each got.

#16683 docs(guide): grammar correction in security guide
  docs/content/guide/security.ngdoc
Labels: cla: yes, needs: merging

#16681 fix(ngAnimate): remove prepare classes with multiple structural anima…
  src/ngAnimate/animation.js
  test/ngAnimate/integrationSpec.js
Labels: cla: yes, component: ngAnimate, needs: review, severity: regression, type: bug

#16684 docs(version-support-status): remove outdated info, resolve inconsistencies
  docs/content/misc/version-support-status.ngdoc
Labels: cla: yes

#16680 fix(ngAria.ngClick): restrict preventDefault on space / enter to non-…
  src/ngAria/aria.js
  test/ngAria/ariaSpec.js
Labels: cla: yes, component: ngAria, severity: regression, type: bug
